<div class="home-wrap">
  <app-form-ricerca></app-form-ricerca>

  <div *ngIf="pazienti" class="results-card card">
    <div class="results-header">
      <p class="results-title">Risultati</p>
      <span class="badge-count">{{ pazienti.length }} pazienti</span>
    </div>
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Cognome</th>
          <th>Nome</th>
          <th>Data di nascita</th>
          <th>Codice fiscale</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paziente of pazienti">
          <td>
            <span class="avatar"
              >{{ paziente.cognome[0] }}{{ paziente.nome[0] }}</span
            >
            {{ paziente.cognome }}
          </td>
          <td>{{ paziente.nome }}</td>
          <td>{{ paziente.dataNascita | date: "dd/MM/yyyy" }}</td>
          <td>
            <span class="cf">{{ paziente.cf }}</span>
          </td>
          <td>
            <button
              class="btn-dettagli"
              [routerLink]="['/pazienti', paziente.id]"
            >
              Dettagli
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
